* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }




body {
  font-family: "Lato",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-image: url("../img/blue.jpg");
   }
input{
  height: 25px;
  width: 250px;

  right:202px;
  border-radius: 30px;
  font-size: 14px;
  color:black;
  text-align:center;
  background-color: rgb(235,236,237);
  border: none;

}
input:focus{
  outline:none;
  box-shadow:0 0 0 2px #2972ca;

}
.search{
  padding-top: 100px;
  text-align: center;
  height: 100px;
}
.rec{
  height: 60px;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.button {
  display: inline-block;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;

}

.button:hover {background-color: #74a9a6}

.button:active {
  background-color: white;

  transform: translateY(4px);
}
p {
  margin-bottom: 0.5rem; }


.container {
  max-width: 980px;
  margin: 0 auto; }

.textar{
  border: 1px solid #74a9a6;
  background-color: rgba(102, 169, 169, 0.71);
  color: #f3eeee;
  width: 331px;
  height: 272px;

}
.tit {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(82, 187, 255, 0.23);
  width: 331px;
}
.comm {
  color: black;
  padding-top: 20px;
  font-size: larger;
}


.header-wrapper {
  padding: 5rem 0; }

.page-intro {
  text-align: center;
  line-height: 1.2; }
  .page-intro h1 {
    display: inline-block;
    font-weight: 300;#7dffc3
    font-size: 4rem;
    color: ;
    background: -webkit-linear-gradient(135deg, #fff9b0, #7dffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .page-intro h2 {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 2rem; }

.section-list {
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;

  width: 900px;
  margin: 0 auto;
}


.section-list-box:not(:last-child) {
  border-bottom: 1px solid #dddddd;
  margin: 3rem 0;
  padding-bottom: 5rem; }

.table {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
  border-collapse: collapse;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .table thead th {
    padding: .75rem;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #eceeef;
    border-bottom: 2px solid #eceeef; }
  .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef; }
  .table code {
    display: table; }

.footer-wrapper {
  padding: 1rem 0;
  color: #fff;
  text-align: center; }
  .footer-wrapper a {
    color: currentColor; }

.timeline-theme-1 {
  width: 800px;
  margin: 100px auto; }

.timeline-1 .timeline-list {
  width: 800px; }

.timeline-1 .timeline-item {
  width: 800px;
  height: 350px;
  background:white;
  border: none; }

.timeline-visual {
  float: left;
  width: 43%;

  margin-right: 3%;
  line-height: 1; }
  .timeline-visual img {
    max-width: 100%; }

.timeline-detail {

  color:white;
  float: left;
  width: 53%;
  height: 100%;
  overflow-y: auto; }

.timeline-detail-list {
  margin: 10px;
  padding: 20px;
  color: #74a2a2; }
.timeline-detail-list ul{
    margin-bottom: 0.4rem;
 }



.timeline-small-box .timeline-list {
  width: 600px; }

.timeline-small-box .box-item {
  float: left;
  width: 600px;
  height: 250px;
  color: #fff;
  text-align: center; }

